// default style
a {
	text-decoration: none;
}

li {
	list-style: none;
}
input:focus {
	outline: none;
}
img {
	max-width: 100%;
}

$primary: #f0f2f5;
$light: #fff;

// Main style start
#fb-header {
	padding: 7px 0;
	background-color: $light;
	.fb-brand {
		display: flex;
		align-items: center;
		a {
			width: 53px;
			height: 43px;
			background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/FgDhHW1EOkf.png) no-repeat 0px
				1px;
			display: inline-block;
			transform: scale(0.9);
		}
		.search {
			position: relative;
			// input tag style here
			input {
				width: 16rem;
				font-size: 16px;
				border-radius: 3rem;
				border: 1px solid $primary;
				background: $primary;
				padding: 8px 3px 8px 2rem;
			}
			button {
				position: absolute;
				top: 10px;
				left: 4px;
				font-size: 14px;
				border: none;
				background: transparent;
				color: #65676b;
			}
		}
	}
}

// fb menu style
#fb-menu ul {
	justify-content: space-between;
	margin-bottom: 0;
	align-items: center;
	height: 3rem;
	li {
		position: relative;
		width: 3.3rem;
		text-align: center;
		&.active::before {
			content: '';
			position: absolute;
			bottom: -13px;
			left: 0;
			width: 100%;
			height: 3px;
			display: block;
			background: #1b74e4;
		}
		&.active a {
			color: #1b74e4;
		}
		a {
			display: block;
			font-size: 1.5rem;
			color: #65676b;
			&:hover {
				color: #1b74e4;
			}
		}
	}
}

// fb auth style
#fb-auth {
	ul {
		justify-content: end;
		align-items: center;
		margin-bottom: 0;
		li {
			margin: 0 4px;
			a {
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-size: 1.3rem;
				text-align: center;
				display: block;
				background: #d8dadf;
				color: #050505;
				border-radius: 50%;
				&:hover {
					background: #1b74e4;
					color: #fff;
				}
				img {
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 50%;
					margin-bottom: 0.4rem;
				}
			}
		}
	}
}

// fb body style
#fb-body {
	background: #f0f2f5;
	min-height: 100vh;
	padding-top: 4.6rem;
	.user-info {
		&.sticky-top {
			top: 77px;
		}
		.list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			border-radius: 0.5rem;
			padding: 0.5rem;
			width: 70%;
			&:hover {
				cursor: pointer;
				background: #e6e7ea;
			}
			.list-icon {
				img {
					width: 2.3rem;
					height: 2.3rem;
					border-radius: 50%;
				}
				.list-inner-icon {
					width: 30px;
					height: 30px;
					text-align: center;
					line-height: 30px;
					border-radius: 50%;
					color: #050505;
					background: #d8dadf;
				}
			}
			.list-title {
				margin-left: 1rem;
			}
			.list-inner-title {
				margin-left: 1.5rem;
				font-weight: 600;
			}
		}
	}
}

// fb story start
.fb-story {
	display: flex;
	justify-content: space-between;
	.story-box {
		width: 5.7rem;
		height: 10rem;
		background-size: auto 100% !important;
		border-radius: 9px;
		padding: 0.6rem;
		overflow: hidden;
		transition: 0.5s ease-in-out;
		position: relative;
		&:hover {
			background-size: auto 102% !important;
		}
		&:nth-child(1) {
			background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-1/286059176_2025524130961141_230646360243427425_n.jpg?stp=dst-jpg_p240x240&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=5DAvtjOVCsgAX-PX5vr&_nc_ht=scontent-iad3-1.xx&oh=00_AT-wtgTKDavFTDe4k1myEuLXhsP-p20aCzWKPYNPvkKalw&oe=62C5C30D)
				no-repeat -29px 1px / cover;
			cursor: pointer;
		}
		&:nth-child(2) {
			background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-1/283175052_10222301451664954_7874233041930696211_n.jpg?stp=dst-jpg_p130x130&_nc_cat=101&ccb=1-7&_nc_sid=dbb9e7&_nc_ohc=fgxm4EiRvpoAX9HV1Xk&_nc_ht=scontent-iad3-1.xx&oh=00_AT_XjGqtDrgkEznqasGmUYCow910zTOwrbpolr2rrjFBvQ&oe=62C58D33)
				no-repeat -29px 1px / cover;
			cursor: pointer;
		}
		&:nth-child(3) {
			background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-1/279943633_1672813769737524_4916458855135609582_n.jpg?stp=dst-jpg_p100x100&_nc_cat=103&ccb=1-7&_nc_sid=7206a8&_nc_ohc=pscWLBc7WlUAX-mRFOi&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent-iad3-1.xx&oh=00_AT-xEmmutINEU_LrOLJSK6wIVfPAWa5xPaLr03c47q26zg&oe=62C56BC6)
				no-repeat -29px 1px / cover;
			cursor: pointer;
		}
		&:nth-child(4) {
			background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/291449168_1440379659779988_7344171410099887602_n.jpg?stp=dst-jpg_p235x165&_nc_cat=105&ccb=1-7&_nc_sid=365331&_nc_ohc=I8qK95-bFvoAX_e2l2N&_nc_ht=scontent-iad3-1.xx&oh=00_AT-BxIrC0DxIj13RsknGjIzUvP21QTyfWLI5_6le2rYYhQ&oe=62C5609A)
				no-repeat -11px 1px / cover;
			cursor: pointer;
		}
		&:nth-child(5) {
			background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/291805361_1822025568004257_6304272702547415121_n.jpg?stp=dst-jpg_p235x165&_nc_cat=107&ccb=1-7&_nc_sid=365331&_nc_ohc=I94mrRg1SOAAX-tCCZ2&_nc_ht=scontent-iad3-1.xx&oh=00_AT_LRPoy7yZB66bahCRnL6Tjyz18H8YWW3Xdev5QzaitAg&oe=62C51E3A)
				no-repeat -29px 1px / cover;
			cursor: pointer;
		}
		.fb-avatar {
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
			border: 4px solid #2074e4;
			overflow: hidden;
		}
		strong {
			position: relative;
			top: 4.9rem;
			left: -0.1rem;
			font-size: 13px;
			font-weight: 600;
			color: #fff;
		}
		.own-story {
			background: $light;
			width: 100%;
			height: 25%;
			position: absolute;
			bottom: 0;
			left: 0;
			text-align: center;
			a {
				color: #fff;
				font-size: 22px;
				background: #2074e4;
				width: 34px;
				display: inline-block;
				height: 34px;
				line-height: 24px;
				border-radius: 50%;
				border: 4px solid #fff;
				position: absolute;
				top: -17px;
				left: 32px;
			}
			strong {
				font-size: 11px;
				font-weight: 700;
				top: 8px;
				left: 0;
			}
		}
	}
}

// fb post start
.fb-post {
	.fb-info {
		display: flex;
		align-items: center;
		a {
			width: 36px;
			height: 36px;
			background: url(https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-1/286059176_2025524130961141_230646360243427425_n.jpg?stp=cp0_dst-jpg_p60x60&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=5DAvtjOVCsgAX-PX5vr&_nc_ht=scontent-iad3-1.xx&oh=00_AT8Y5XSZ1D9IchH9-4mPAV5wj5y4u--Qhlv_pkwef7EZ5Q&oe=62C5C30D)
				no-repeat -5px 0px;
			display: inline-block;
			border-radius: 50%;
			margin: 0px 10px 0 5px;
		}
		.search {
			width: 100%;
			button {
				text-align: left;
				width: 96%;
				font-size: 16px;
				border-radius: 3rem;
				border: none;
				background: #f0f2f5;
				color: #878585;
				padding: 5px 10px;
				outline: none;
				cursor: pointer;
				&:hover {
					background: #e0e2e5;
				}
			}
		}
	}
	.icon-area {
		justify-content: space-between;
		.icon-box {
			padding: 0.5rem 0;
			display: flex;
			flex: 1;
			text-align: center;
			cursor: pointer;
			justify-content: center;
			&:hover {
				background: #f0f2f5;
				border-radius: 0.2rem;
			}
			&:nth-child(1) .list-img {
				background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/Kc4loeA1UQD.png) no-repeat -4% 5.5% /
					cover;
				width: 29px;
				height: 22px;
			}
			&:nth-child(2) .list-img {
				background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/Kc4loeA1UQD.png) no-repeat -4% 22.4% /
					cover;
				width: 29px;
				height: 22px;
			}
			&:nth-child(3) .list-img {
				background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/Kc4loeA1UQD.png) no-repeat -4% 14% /
					cover;
				width: 29px;
				height: 21px;
			}
			span {
				font-weight: 600;
				font-size: 13px;
				color: #65676bbd;
			}
		}
	}
}

// fb timeline start
.fb-timeline {
	.post-auth {
		display: flex;
		justify-content: space-between;
		.u-info {
			display: flex;
			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				margin-right: 10px;
			}
			.details {
				span,
				small {
					display: block;
					font-size: 14px;
				}
				span {
					font-weight: 700;
				}
				small {
					font-size: 11px;
					.bi-dot {
						font-size: 9px;
					}
				}
			}
		}
		> a,
		#dropdownMenuLink {
			border: none;
			border-radius: 50%;
			cursor: pointer;
			width: 28px;
			height: 28px;
			line-height: 26px;
			color: #333;
			text-align: center;
			background: transparent;
			display: block;
			&:hover {
				background: #e0e2e5;
			}
		}
	}
	.post-react-area {
		justify-content: space-evenly;
		border-top: 1px solid #ababab;
		border-bottom: 1px solid #aba;
		margin: 2rem 0.9rem 1.7rem;
		.react-box {
			padding: 0.5rem 0;
			margin: 6px auto;
			display: flex;
			flex: 1;
			text-align: center;
			cursor: pointer;
			justify-content: center;
			text-transform: capitalize;
			&:hover {
				background: #e0e2e5;
				border-radius: 0.2rem;
			}
			i {
				font-size: 16px;
				margin-right: 6px;
			}
		}
	}
}

// fb message sidbar :start
.message-sidebar {
	&.sticky-top {
		top: 77px;
	}
	.sidbar-header-area {
		display: flex;
		justify-content: space-around;
		.sidbar-icon {
			i {
				font-size: 13px;
				margin-right: 6px;
				width: 30px;
				height: 30px;
				line-height: 28px;
				display: inline-block;
				text-align: center;
				border-radius: 50%;
				cursor: pointer;
				&:hover {
					background: #e0e2e5;
				}
			}
		}
	}
	.list {
		display: flex;
		align-items: center;
		margin-top: 1.1rem;
		margin-left: 4.8rem;
		font-weight: 600;
		.list-icon {
			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}
	}
}
